<div class="temp-main">
  <h2>User info</h2>
  
  <table>
    <tr height="20"><%= attachment_image_tag @user, :profile_image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg"%></tr>
    <tr class="temp-name" height="50">
      <td width="130"><b>name</b></td>
      <td width="120"><%= @user.name %></td>
    </tr>
    <tr height="50">
      <td><b>introduction</b></td>
      <td><%= @user.introduction %></td>
    </tr>
  </table>
  
  <div class="temp-editbutton">
   
    <%= link_to "", edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
  </div>

  <h2>New book</h2>
  <%= form_with model: book, local:true do |f| %>
  <!--@book→bookに変更-->
    <p>Title</p>
    <%= f.text_field :title, :size => "30*30" %>
    <p>Opinion</p>
    <%= f.text_area :body, :size => "30*30" %>
    <div>
      <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
    </div>
  <% end %>

</div>

