<div class="bookshow">
  <div>
    <%= render 'books/list', book: @book %>
  </div>

  <div class="bookshow-main">
    <h2 class="bookshow-topic">Book detail</h2>
    <table>
      <tr>
        <td width="130"><%= attachment_image_tag @books.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %></td>
        <td width="180"><%= link_to @books.title, book_path(@books.id) %></td>
        <td width="150"><%= @books.body %></td>
        <% if @user.id == current_user.id %>
        <td class="btn btn-sm btn-success"><%= link_to "Edit", edit_book_path(@books.id) %></td>
        <td width="80"></td>
        <td class="btn btn-sm btn-danger"><%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか?" %></td>
        <% end %>
      </tr>
      <tr>
        <td><%= link_to @user.name, user_path(@user.id) %></td>
      </tr>
    </table>
  </div>
</div>